@font-face {
    font-family: semibold;
    font-style: normal;
    font-weight:100;
    src: url(/Fonts/sf-pro-display_semibold.woff2);
}
@font-face {
    font-family: regular;
    src: url(/Fonts/sf-pro-text_regular.woff2);
}

*{
    margin: 0;
    padding: 0;
}
 
html,body{
    width: 100%;
    height: 100%;
}

#main{
    padding: 50px;
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    gap: 20px;
}

.card{
    width: 290px;
    height: 370px;
    background-image: linear-gradient(to right top, #857432, #87844b, #8b9265, #92a07f, #9ead98);
    border-radius: 15px;
    box-shadow: 5px 10px 25px rgba(0,0,0,0.22);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.card img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius:50%;
    
}

.card h2{
    font-family: regular;
    color: #232E1A;
}

.card p{
    text-align: center;
    font-family: regular;
    color: #232E1A;

}

.card button{
    padding: 20px 30px;
    font-family: regular;
    font-size: 15px;
    border-radius: 35px;
    border: none;
    background-image: linear-gradient(to right top, #8d9178, #919880, #959f88, #9aa690, #9ead98);
    color: #fff;
}
