* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {

    height: 100%;
    width: 100%;
    font-family: Poppins, sans-serif;
}

main{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.card{
    width:min(1200px,95%);
    height:90vh;

    display:flex;

    position:relative;

    border-radius:20px;
    overflow:hidden;
}

.card__left{
    width:60%;
    background:#FCC60C;

    padding:60px;

    display:flex;
    flex-direction:column;

}

.card__logo{
    width:180px;
    margin-bottom:60px;
}

.card__content{
    max-width:500px;
}

.card__subtitle{
    letter-spacing:5px;
    font-weight: 600;
}

.card__title{
    font-size:clamp(4rem,8vw,7rem);
}

.card__description{
    max-width: 350px;
    line-height:1.8;
    margin-top:20px;
}

.card__counter{
    margin-top:24px;
}


.card__right{
    width:40%;
    background:#FBE8B5;

    display:flex;
    justify-content:flex-end;

    padding:60px;
}

.card__menu{
    font-size:3rem;
}

.card__dots{
    position:absolute;

    right:40px;
    top:50%;

    transform:translateY(-50%);

    display:flex;
    flex-direction:column;
    gap:12px;
}

.card__dot{
    width:12px;
    height:12px;

    border-radius:50%;
    background:#FCC60C;
}

.card__dot.active{
    background:black;
}

.card__image{
    position:absolute;

    height:70%;

    left:50%;
    top:50%;

    transform:translate(-10%,-50%);
}