/* Colors */

$white: #ffffff;
$black: #000000;

$primary: #ff0f7b;
$secondary: #1b1b1b;

$text-light: #ffffff;
$text-dark: #111111;

/* Font */

$font-primary: "Poppins", sans-serif;

/* Font Size */

$fs-sm: 14px;
$fs-md: 16px;
$fs-lg: 20px;
$fs-xl: 32px;

/* Radius */

$radius-sm: 6px;
$radius-md: 12px;
$radius-lg: 20px;

/* Transition */

$transition: .3s ease;